.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-home);
  height: 95vh;
}

.logo {
  width: 80%;
}

.containerImg {
  margin-top: 30px;
  width: 100%;
}

.containerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.button {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-white);
  padding: 10px;
  font-size: 18px;
  border-radius: 4px;
}

.button:hover {
  cursor: pointer;
}

@media (min-width:1200px) {
  .container {
    justify-content: flex-start;
    align-items: center;
  }
}
